.dark-body{
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.light-body {
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-weight: bold;
    font-family: Eras ITC;
    background-image: linear-gradient(to right, #068, #003);
    background-clip: text;
    color: transparent;
}

.poke-button{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWQRXlPP305cn03Xp8WhDM9fy8y_48sUflZw&usqp=CAU');
    background-size: 300%;
    background-position: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.pokemon-name{
    font-family: Impact;

}

.search-bar-container {
    width: 50%;
    min-width: 200px; /* Largeur minimale pour la barre de recherche */
    margin: 0 auto; /* Centrer la barre de recherche horizontalement */
}

.search-bar-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}




